@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css";

/* global styles */
html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Press Start 2P", monospace;
	background: repeating-linear-gradient(45deg, #0b0b0f 0 6px, #08111a 6px 12px);
	color: #e6f3ff;
}

a {
	color: inherit;
	text-decoration: none;
}
